In [5]:
import pandas as pd

sepatu = {'ukuran': [38, 40, 42, 44, 46], 
          'harga': [50, 55, 60, 65, 70]}

sepatu_df = pd.DataFrame(sepatu)
print(sepatu_df)

   ukuran  harga
0      38     50
1      40     55
2      42     60
3      44     65
4      46     70

In [6]:
import pandas as pd

data = {
    'nama': ['Ali', 'Budi', 'Cici', 'Dedi', 'Eka', 'Fani', 'Gina', 'Hana', 'Ivan'],
    'umur': [25, 30, 22, 35, 28, 24, 27, 26, 29],
    'kota': ['Jakarta', 'Bandung', 'Surabaya', 'Medan', 'Bali', 'Yogyakarta', 'Semarang', 'Malang', 'Balikpapan']
}

data_df = pd.DataFrame(data)
data_df

   nama  umur        kota
0   Ali    25     Jakarta
1  Budi    30     Bandung
2  Cici    22    Surabaya
3  Dedi    35       Medan
4   Eka    28        Bali
5  Fani    24  Yogyakarta
6  Gina    27    Semarang
7  Hana    26      Malang
8  Ivan    29  Balikpapan